.event-container{

    width: 100%;
    height: 100vh;
    scroll-snap-align: start;  
    position: relative;
    .row{
        height: 100%;
    }
    
    .hexa-box:nth-child(4){
        top : 0px;
        left : 5%;
        transform: scale(5);

    }
    .hexa-box:nth-child(2){
        right :5%;
        transform: scale(8);
        bottom : 40%;
    }
    .hexa-box:nth-child(3){
        left : 40%;
        transform: scale(3);
        bottom : 20%;
    }
 

}

.events>h1{
    color:#fff;
    font-size: 3rem;
    text-align: center;
    
}

.right{

    h2{
        font-weight: bold;
        font-family: var(--pr_font) ;
        text-align: center;
        font-size: 4rem;
    }
    .time, .venue {
        font-size: 1.5rem;
        text-align: center;
        font-family: var(--se_font) ;
        font-weight: 640;
    }

    .desc{
        font-size : 1.3rem;
        text-align  : left;
        margin : 10px auto auto auto ;
        font-family: var(--se_font) ;

    }

    .cord-block{
        margin-top: 10px;
        padding: 10px;
        font-family: var(--se_font) ;

        p{
            font-size : 1.6rem;
            font-weight: 650;

        }
        .cord{

            list-style: none;
            display: flex;
            flex-direction: column;
            
            li{
                padding : 2px;
                font-size: 1.3rem;
            }
        }

    }

}



.ideathon{

    background: var(--color-dark);
    
    #bulb-1, #bulb-2, #bulb-2{
        animation: twinkle 4s  2s infinite forward ;
    }
    #bulb-2{
        animation-delay: 4s  ;
    }
    #bulb-3{
        animation-delay: 6s;
    }
    .left {

        .light path{
            fill : transparent;
        }    
         .flash path:hover {
             
        }    
        .bulb:hover .flash path, .bulb:hover .light path {
            fill :#EE9620;

        }

    }

    .right{
        h2{
            color : white;
        }
    }

    @keyframes twinkle {

        from{

        }
        
    }

}

.css-battle{

    .left{
        display: grid;
        justify-content: center;
        align-items: center;
        // background-color: red;
        div{
            // background-color: green;
        }
    }
}



.cicada {

    #item-1, #item-2, #item-3, #items-4{

        animation : move-circular 5s  ease-in-out infinite;
        transform-origin:center;
        transform-box: border-box;

    }

    @keyframes move-circular {
        
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);

        }
    }
}
//  

.blind {

    .left{
        display: grid;
        justify-content: center;
        align-items: center;
    }

}




@media (max-width : 1000px) {

    .event-container{

        .hexa-box:nth-child(2){
            transform: scale(4);
        }

        .hexa-box:nth-child(3){
            transform: scale(2);
        }
        .hexa-box:nth-child(4){
            transform: scale(2);
        }
    }
    .left{
        display: none !important;
    }  
  
.right{
    display: grid;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 2rem;
    }
    .time, .venue {
        font-size: 1.2rem;
        text-align: center;
        font-family: var(--se_font) ;

    }

    .desc{
        font-size : 1.1rem;
        text-align  : center;
        margin : 10px auto auto auto ;
        font-family: var(--se_font) ;

    }

    .cord-block{

        p{
            font-size : 1.2rem;
            font-weight: 650;
            text-align: center;
        }
        .cord{
            text-align: center;
            padding: 0px;

            li{
                font-size: 1.1rem;
            }
        }

    }

}
     
}