.header{
background-color: #2B2B3F;
    width: 100%;
    height: 100vh;
    color:var(--sc-color);
    position: relative;
    z-index: 5;

    .hexa-box:nth-child(1){
        top : 22%;
        left : 5%;
        transform: scale(5);

    }
    .hexa-box:nth-child(2){
        right :20%;
        transform: scale(3);
        top: 65%;
    }
    .hexa-box:nth-child(3){
        left : 20%;
        transform: scale(7);
        bottom : 0%;
    }
    .hexa-box:nth-child(4){
        right : 10%;
        transform: scale(3);
        top : 100%;
    }

    @media (max-width:600px) {
        .hexa-box:nth-child(1){
            transform: scale(2);
    
        }
        .hexa-box:nth-child(2){
            transform: scale(2);
        }
        .hexa-box:nth-child(3){
            transform: scale(3);
        }
        .hexa-box:nth-child(4){
            transform: scale(2);
        }
    
    }

    .head-clg-name{
        
        width: auto;
        height: 100px;
        // background-color: red;
        text-align: left;
        padding: 20px;
        margin-left: 20px;
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 10;
        

        font-family: var(--sr_font);
        font-weight: bold;
        h2{
            font-size: 40px;
            letter-spacing: 15px;
            // filter: drop-shadow(7px 2px 2px grey);
            text-shadow:  5px 0px 2px grey;
            border-bottom: 1px solid #FE74AE;
            display: inline-block;
        }
        span{
            font-size: 25px;
            background: -webkit-linear-gradient(120deg, #FE74AE, #2476E3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: -10px;

        }

        @media (max-width: 800px) {
                &{

                    place-self: center;
                    // top: 0px;
                    // left: 0px;
                    // right: 0px;
                    // bottom: 0px;
                    // margin : 10px auto !important;
                    left : calc( 100vw / 2 - 130px);
                    text-align: center;

                    h2{
                        font-size: 30px;
                    }
                    span{
                        font-size: 20px;
                    }
                }        
        }
    }
}
.college-name{
    font-weight: bold;
    padding: 30px;
    font-size: 3rem;
}

.head-svg{
    position: absolute;
    width : 100vw !important;
    height: 100vh !important;
    z-index: 1;

    & > g{
        width: 100%;

    }
}

.header-container{
    // display:flex;
    width: 100vw !important;
    // justify-content: center;
    // align-items: center;
    // margin: auto;
    position: relative !important;
    height: 100vh;
    background-color: transparent;
    /* height: calc(100% - 3rem - 90px); */
    z-index: 5;

}

/* .clip{
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: var(--color-green);
    width: 30%;
    height: 100%;
    z-index:-1; 
} */

.left-container{
    flex:1;
}
.left-container img{
    width: 100%;
}
.right-container{
    flex:1;
}

.right-container h1{
    font-size: 5rem;
    font-family: var(--pr_font);
    font-weight: bold;
}

.fest-h1{
    color:var(--color-pink);
}
.fest-h2{
    color:var(--color-green)
}
.fest-h3{
    color:var(--color-orange)
}

.college-name{
    font-family: var(--fest-font);
    color:#28d2f7;
}

// .right-container p{
//     font-size: 1.3rem;
//     color: var(--color-blue);
//     margin-top: 20px;    

// }

.header p{
    font-size: 1.3rem;
    color: var(--color-blue); 
    position: absolute;
    bottom: 300;
    right: 0;


}


.particle-section{
    position: absolute !important;
    z-index: 1;
    height:282vh;
    width: 100%;
    #tsparticles{
        width: 100%;
        height: 100%;
        canvas{
            width: 100%;
            height: 100%;
        }
    }
}
.particle-section #tsparticles canvas{
    position: relative !important;

}