.c {
    height: 100vh;
    position: relative;
    font-size:1.1rem;
    background-color: #000;
    color:#fff
}

.c-bg {
    width: 20px;
    height: 100%;
    background-color: var(--color-green);
    position: absolute;
}

.c-wrapper {
    padding: 20px 50px;
    display: flex;
}

.c-left {
    flex: 1;
}

.c-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;

}

.c-title {
    font-size: 60px;
    width: 80%;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0;
    font-weight: 300;
    width: 70%;

}

.c-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.c-desc {
    font-weight: 400;
    font-size:1.2rem;
}

form {
    margin-top: 20px;
}

input {
    width: 60%;
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
    background-color: #222;
    color: #fff;
}

input:focus {
    border-bottom: 2px solid black;
}

textarea {
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
    padding: 10px;
    resize: none;
    border: 1px solid black;
    background-color: #222;
    color: #fff;
}

textarea:focus {
    border: 2px solid black;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    background-color: var(--color-green);
    color: white;
    font-weight: 500;
    font-size: 18px;

}


@media screen and (max-width:480px) {

    .c {
        height: 100%;
        padding-bottom: 20px;
    }

    .c-wrapper {
        flex-direction: column;
        padding: 0 50px;
    }

    .c-title {
        font-size: 30px;
        width: 100%;
    }

    .c-info-item {
        margin: 20px 0;
        width: 100%;
    }

    .c-desc {
        display: none;
    }

    form {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    input {
        height: 40px;
        width: 100%;
    }

    textarea {
        height: 80px;
    }

    button {
        padding: 5px 10px;
        font-size: 16px;
    }


}