.intro-container{

    font-size: 18px;
    position: relative;
    z-index: 10;
    height: auto;
    display: grid;
    place-items: center;
    
    .intro-box{
        padding : 20px;
        width: 100%;
        height: calc(100% );
        opacity: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
        color : white;


    }

    .intro-head{
        position: relative;
    }

    p{

        code{
    color : rgb(208, 201, 201) !important;

        }
    }



}

.why-k{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .intro-box{
        height: calc(100% - 80px );
    }
}

.screen, .mob-screen {
    width: 100%;
    height: 600px;
    margin: 20px 0px;
    border: 2px solid rgb(243, 242, 242);
    background-color: #282c35;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 10px 10px 10px #2a2a2b, -10px 10px 10px #272729;
}

.mob-screen{
    border-radius: 20px 20px 20px 20px;
    width: 70%;
    height: 500px;
}

.screen-browser , .mob-screen-browser {
    height: 40px;
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
    padding: 5px;
    
}

.screen-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 4px;
}


.mob-screen-circle {
    width: auto;
    height: 25px;
    border-radius: 40px;
    background-color: rgb(180, 177, 177);
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px ;

    &::after{
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 3px;
        background-color: #282c35;
        z-index: 2;
        display: inline-block;
    }

    
    &::before{
        content: '';
        display: inline-block;

        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 3px;
        background-color: #282c35;
        z-index: 2;

    }

}

.mob-footer{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: transparent;
    color: white !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    svg:nth-child(1){
        transform: rotate(-90deg);
    }

}



@media (max-width : 800px) {

    .intro-container{
        font-size: 1.1rem;
    
        .intro-head h2{
            font-size: 1.5rem !important ;
        }
    }
    
    .screen {
      height: 400px ;
    }
    .mob-screen{
        height: 500px;
    }

}


