.head-svg-inner{


    svg {
        height: 100% !important;
        width: 100% !important; 
        box-sizing: border-box !important;    
        transform-box: fill-box;
        transform-origin: center; 
 


    }


}




#r-bot {
    box-sizing: border-box !important;    
    transform-box: fill-box;
    transform-origin: center; 
    transition-delay: 2s;
    animation: logo-pos-1 10s 2s ease-in-out infinite ;
}

#r-top{
    box-sizing: border-box !important;    
    transform-box: fill-box;
    transform-origin: center; 
    transition-delay: 2s;
    animation: logo-pos-2 10s 2s ease-in-out infinite ;
}

#logo-text path, #logo-strips path{
    box-sizing: border-box !important;    
    transform-box: fill-box;
    transform-origin: center; 
    animation: text-ani 10s 2s ease-in-out infinite;
    transition-delay: 1s;
}

#l-bot, #l-top{
    transition-delay: 2s;
    animation: logo-pos-3 10s 2s  ease-in-out infinite ;


}


#leaf g path{
    box-sizing: border-box !important;    
    transform-box: fill-box;
    transform-origin: bottom; 
    animation : head-leaf 2s ease-in-out infinite
}
#leaf g path:nth-child(2n+1){
    animation-delay: 1s;
}
#eyes path{
    box-sizing: border-box !important;    
    transform-box: fill-box;
    transform-origin: bottom; 
    animation: boy-eye 1s ease-in-out infinite;
}

@keyframes boy-eye {
    50%{
        transform: scale(1.1);
    }
}

#stack-1 path, #stack-2 path, #html-strips path,  #web-strips path{
    animation: stack-flow 2s ease-in-out infinite;
}



@for $i from 1 through 10 {
    $time : $i * 0.1;

    
    #stack-1 path:nth-child(#{$i}), #stack-2 path:nth-child(#{$i}), #html-strips path:nth-child(#{$i}), #web-strips path:nth-child(#{$i}){
        animation-delay: #{$time}s;
    } 
  
    
    }


@keyframes stack-flow {
    
    50%{
        fill: none;

    }
}


@keyframes head-leaf {
   
    50%{
        transform: rotate(10deg);

    }
}


@keyframes text-ani {
    0%{
    }

   20%{
    fill : transparent;
    stroke: transparent;
        
    }
    90%{
        fill : transparent;
    stroke: transparent;

    }
     
    
}

@keyframes logo-pos-1 {

    0%{

    }
    50%{
        transform:  translate(-900px, -10px) rotate(-40deg);
    

    }
    100%{

    }
    
}

@keyframes logo-pos-2 {

    0%{

    }

    50%{
    transform:  translate(-913px, -10px) rotate(37deg);

    }
    100%{
    transform: none;

    }
    
}
@keyframes logo-pos-3 {

   
    0%{

    }

    50%{
        transform: translate(424px, -53px) ;


    }
    100%{
    transform: none;

    }
    
    
}

#web-circle,#Vector_173, #head-box-1 path:nth-child(1){
    transition: all 2s ease-in-out;
    transform-origin: center;
    transform-box:fill-box;
    animation: rotate 2s ease-in-out forwards infinite ;
    // display: none;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}