.head-svg-inner{


    svg {

        #logo{
                #logo-inner{


                    #right-brace{
                    

                       
                    }

                }
        }


    }


}

#r-bot{
    transform-box: border-box;
    transform-origin: center;
    transform: rotateZ(180deg);
}